[submodule "tipsydot/lib/forge-std"]
	path = tipsydot/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tipsydot/lib/openzeppelin-contracts"]
	path = tipsydot/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
